<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CustomerDataEntities" connectionString="metadata=res://*/CustomerDataContext.csdl|res://*/CustomerDataContext.ssdl|res://*/CustomerDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdata;initial catalog=CustomerData;persist security info=True;user id=sa;password=sql2000;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="KP.Register.DBModels.Properties.Settings.CustomerDataConnectionString"
      connectionString="Data Source=devdata;Initial Catalog=CustomerData;Persist Security Info=True;User ID=sa;Password=sql2000"
      providerName="System.Data.SqlClient" />
    <add name="KP.Register.DBModels.Properties.Settings.LoyaltyValueConnectionString"
      connectionString="Data Source=devdata;Initial Catalog=LoyaltyValue;Persist Security Info=True;User ID=sa;Password=sql2000"
      providerName="System.Data.SqlClient" />
    <add name="KP.Register.DBModels.Properties.Settings.Newkpi_testConnectionString"
      connectionString="Data Source=10.3.0.155;Initial Catalog=Newkpi_test;User ID=sa;Password=sql2000"
      providerName="System.Data.SqlClient" />
    <add name="KP.Register.DBModels.Properties.Settings.NewmemberConnectionString"
      connectionString="Data Source=devdata;Initial Catalog=Newmember;Persist Security Info=True;User ID=sa;Password=sql2000"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>